        .close{
          position:relative;
          top:-2px;
          right:-21px;
          color:inherit;
          float:right;
          font-size:21px;
          font-weight:700;
          line-height:1;
          color:#000;
          text-shadow:0 1px 0 #fff;
          filter:alpha(opacity=20);
          opacity:.2;
          text-decoration: none;
        }
        .close:focus,.close:hover{
          color:#000;
          text-decoration:none;
          cursor:pointer;
          filter:alpha(opacity=50);
          opacity:.5;
        }